.container {
  $element: &;
  
  max-width: rem(calc($container-max-width + (($container-horizontal-padding * 2) * 2)));
  padding: 0 rem($container-horizontal-padding);
  margin: 0 auto;

  &--fluid {
    max-width: 100%;
  }
}