.scroll-up {
  $element: &;

  position: fixed;
  bottom: rem(-50);
  right: rem(25);
  @include size(rem(50), rem(50));
  background-color: $color-white;
  box-shadow: 0 0 rem(10) rgba($color-black, .25);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: rem(18);
  cursor: pointer;
  overflow: hidden;
  transition: transform .05s linear,
    box-shadow $transition,
    color $transition,
    bottom .2s linear;

  @include mq('sm') {
    right: rem(10);
    @include size(rem(40), rem(40));
    font-size: rem(16);
  }

  @include hover {
    box-shadow: 0 0 rem(20) rgba($color-black, .25);
    color: $color-primary;
  }

  @include stroke-hover-effect(rem(3), rem(8) rem(16), $color-primary, .4s);

  @include mq('sm') {
    @include stroke-hover-effect(rem(2), rem(8) rem(16), $color-primary, .4s);
  }

  &:active {
    transform: scale(.95);
  }

  &--active {
    bottom: rem(25);

    @include mq('sm') {
      bottom: rem(20);
    }
  }
}