@mixin stroke-hover-effect($size: rem(2), $padding: rem(8) rem(14), $color: $color-primary, $transition-speed: .4s) {
  padding: $padding;

  &:before,
  &:after {
    @include pseudo-element('', block, absolute);
    border: 0 solid transparent;
    @include size(0, 0);
    transition: all $transition-speed ease;
  }

  &:after {
    @include size(0, 0);
    top: 0;
    left: 0;
    border-top: $size solid transparent;
    border-left: $size solid transparent;
  }

  &:before {
    @include size(0, 0);
    right: 0;
    bottom: 0;
    border-bottom: $size solid transparent;
    border-right: $size solid transparent;
  }

  @include hover {
    &:before,
    &:after {
      @include size(100%, 100%);
      border-color: $color;
    }
  }
}