// ----------------------------------------------------------------------------------------------
//
// Пользовательские классы
//
// Все вспомогающие классы подключайте здесь
//
// ----------------------------------------------------------------------------------------------
.blink-effect {
  @include blink-effect;
}

.flow-effect {
  @include flow-effect;
}

.desktop-only {
  @include mq('lg') {
    display: none;
  }
}

.tablet-only {
  display: none;

  @include mq('lg') {
    display: block;
  }

  @include mq('md') {
    display: none;
  }
}

.mobile-only {
  display: none;

  @include mq('md') {
    display: block;
  }
}