$flow-effect-background-color: $color-primary;
$flow-effect-hover-size: rem(570);

@mixin flow-effect {
  background-color: transparent !important;
  border: 2px solid $color-primary !important;
  color: $color-primary !important;
  overflow: hidden;
  transition: color .4s;

  span {
    position: relative;
    z-index: 3;
  }

  &:before {
    @include pseudo-element('', block, absolute);
    top: var(--y);
    left: var(--x);
    transform: translate(-50%, -50%);
    @include size(0, 0);
    background-color: $flow-effect-background-color;
    border-radius: 50%;
    transition: width .6s, height .6s;

    @include respond-to('sm') {
      display: none;
    }
  }

  &:hover {
    color: $color-white !important;

    @include respond-to('sm') {
      color: $color-primary !important;
    }
    
    &:before {
      @include size($flow-effect-hover-size, $flow-effect-hover-size);
      transition: width .75s, height .75s;
    }
  }
}