@mixin swiper {
  padding-bottom: rem(50);

  &-slide {
    @include size(rem(300), rem(300));
    border-radius: rem(8);
    border: 1px solid rgba($color-black, .4);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-pagination {
    --swiper-pagination-bullet-horizontal-gap: 5px;

    bottom: rem(10) !important;

    .swiper-pagination-bullet {
      width: rem(10) !important;
      height: rem(10) !important;
    }
  }

  .swiper-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: $color-black;

    &:active {
      scale: .98;
    }
  }

  .swiper-button-prev {
    left: 0;
  }

  .swiper-button-next {
    right: 0;
  }
}