$color-white: #fff;
$color-black: #000;

$color-primary: #FF5722;
$color-secondary: #284387;
$color-text: #1A1A1A;
$color-background: $color-white;

$thin: 100;
$extra-light: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extra-bold: 800;
$black: 900;

$font-main: 'Inter';
$font-default: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
$font-size: 16px;
$font-weight: $regular;
$line-height: 1.6;

$site-max-width: 1920;
$site-container-width: 1200;
$container-max-width: 1240px;
$container-horizontal-padding: 20px;

$transition: .25s ease;

$grid-breakpoints: (
  'xxl': 1400px,
  'xl': 1200px,
  'lg': 992px,
  'md': 768px,
  'sm': 576px,
  'xs': 380px
);

$z-indexes: (
  'preloader',
  'cursor',
  'modal',
  'cookies-notice',
  'header',
  'sidemenu',
  'default'
);