.demo {
  padding: rem(100) 0;

  &:nth-child(2n) {
    background-color: darken($color-white, 2%);
  }

  @include mq('sm') {
    margin-bottom: rem(120);
  }
  
  &__title {
    font-size: rem(40);
    font-weight: $bold;
    margin-bottom: rem(80);
    cursor: default;

    @include mq('sm') {
      font-size: rem(30);
      text-align: center;
    }
  }

  &__list {
    @include grid-list(4, 1fr, rem(80), rem(50));

    @include mq('lg') {
      @include grid-list(3, 1fr, rem(50), rem(50));
    }

    @include mq('md') {
      @include grid-list(2, 1fr, rem(50), rem(50));
    }

    @include mq('sm') {
      @include grid-list(1, 1fr, rem(50), rem(50));
    }
  }

  &__list-item {
    display: flex;
    flex-direction: column;

    @include mq('sm') {
      align-items: center;
    }

    .button {
      @include mq('sm') {
        width: 100%;
      }
    }
  }

  &__item-title {
    font-size: rem(24);
    font-weight: $bold;

    @include mq('sm') {
      font-size: rem(20);
    }
  }

  &__item-subtitle {
    margin-bottom: rem(30);
    font-size: rem(14);
  }
}