.header {
  position: absolute;
  top: 2vh;
  left: 0;
  width: 100%;
  z-index: z-index('header');

  &__container {
    display: flex;
    justify-content: space-between;
  }

  .navigation {
    @include mq('lg') {
      display: none;
    }
  }

  .menu-toggle {
    display: none;

    @include mq('lg') {
      display: block;
    }
  }

  &--fixed {
    position: fixed;
  }
}