.hero {
  position: relative;
  @include flex-column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: rem(700);
  height: 100vh;
  cursor: default;

  &__title {
    font-size: clamp(rem(40), 4vw, rem(80));
    font-weight: $black;
    text-transform: uppercase;

    span {
      color: $color-primary;
    }
  }

  &__text {
    max-width: rem(600);
    font-size: rem(18);
  }

  &__author {
    margin: rem(20) 0;
    display: flex;
    flex-direction: column;
    gap: rem(5) 0;
  }

  &__link {
    display: inline-block;
    position: relative;
    transition: color $transition;

    @include hover {
      color: $color-primary;
      text-decoration: underline;
    }
  }

  .social {
    margin-top: rem(25);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 rem(15);
  }

  .social__link {
    display: flex;
    justify-content: center;
    align-items: center;
    @include size(rem(38), rem(38));
    border-radius: 50%;
    font-size: rem(14);
    color: $color-white;
    transition: background-color $transition;
  }

  .social__item--website .social__link {
    background-color: #2196F3;

    @include hover {
      background-color: darken(#2196F3, 10%);
    }
  }

  .social__item--facebook .social__link {
    background-color: #4267B2;

    @include hover {
      background-color: darken(#4267B2, 10%);
    }
  }

  .social__item--twitter .social__link {
    background-color: #00acee;

    @include hover {
      background-color: darken(#00acee, 10%);
    }
  }

  .social__item--instagram .social__link {
    background-color: #E1306C;

    @include hover {
      background-color: darken(#E1306C, 10%);
    }
  }

  .social__item--youtube .social__link {
    background-color: #FF0000;

    @include hover {
      background-color: darken(#FF0000, 10%);
    }
  }

  .social__item--github .social__link {
    background-color: #2b3137;

    @include hover {
      background-color: darken(#2b3137, 10%);
    }
  }
}