.modal {
  &__overlay {
    position: fixed;
    @include reset-position;
    z-index: z-index('modal');
    @include size(100vw, 100vh);
    background-color: rgba($color-black, .95);
    @include flex-center;
  }

  &__container {
    position: relative;
    overflow-y: auto;
    @include size(100%, auto);
    margin: rem(10);
    max-width: rem(550);
    padding: rem(50);
    max-height: 100vh;
    background-color: $color-white;
    border-radius: rem(4);
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    @include flex-column;
    justify-content: center;

    @include mq('sm') {
      margin: 0;
      padding: rem(80) rem(20) rem(20) rem(20);
      height: 100vh;
      border-radius: 0;
      justify-content: flex-start;
    }
  }

  &__close {
    position: absolute;
    top: rem(20);
    right: rem(40);
    cursor: pointer;
    color: $color-white;
    z-index: z-index('modal') + 1;
    transition: opacity $transition, transform $transition;

    @include hover {
      opacity: .5;
    }

    &:active {
      transform: scale(.9);
    }

    @include mq('sm') {
      color: $color-text;
      right: rem(20);
    }
  }

  &__close-icon {
    opacity: .8;
    @include size(rem(40), rem(40));
    transition: opacity $transition, transform $transition;

    @include hover {
      opacity: 1;
      transform: rotate(90deg);
    }
  }

  @keyframes modal-fade-out {
    from {
      opacity: 1;
    }

    to {
      opacity: 0;
    }
  }

  @keyframes modal-slide-in {
    from {
      transform: scale(.9);
      opacity: 0;
    }

    to {
      transform: scale(1);
      opacity: 1;
    }
  }

  @keyframes modal-slide-out {
    from {
      transform: scale(1);
    }

    to {
      transform: scale(.9);
    }
  }

  &__slide {
    display: none;
  }

  &__slide--open {
    display: flex;
  }

  &__slide[aria-hidden="false"] &__overlay {
    animation: modal-fade-in .5s cubic-bezier(0.0, 0.0, 0.2, 1);

    @include mq('sm') {
      animation: modal-fade-in 0 cubic-bezier(0.0, 0.0, 0.2, 1);
    }
  }

  &__slide[aria-hidden="false"] &__container {
    animation: modal-slide-in .5s cubic-bezier(0, 0, .2, 1);

    @include mq('sm') {
      animation: modal-slide-in 0 cubic-bezier(0, 0, .2, 1);
    }
  }

  &__slide[aria-hidden="true"] &__overlay {
    animation: modal-fade-out .5s cubic-bezier(0.0, 0.0, 0.2, 1);

    @include mq('sm') {
      animation: modal-fade-out 0 cubic-bezier(0.0, 0.0, 0.2, 1);
    }
  }

  &__slide[aria-hidden="true"] &__container {
    animation: modal-slide-out .5s cubic-bezier(0, 0, .2, 1);

    @include mq('sm') {
      animation: modal-slide-out 0 cubic-bezier(0, 0, .2, 1);
    }
  }

  &__slide &__container,
  &__slide &__overlay {
    will-change: transform;
  }
}