.navigation {
  &__list {
    display: flex;
    column-gap: .8vw;
  }

  &__link {
    position: relative;
    padding: rem(10);
    display: block;
    font-weight: $medium;
    color: $color-text;
    transition: color $transition;

    @include hover {
      color: $color-primary;
    }

    @include stroke-hover-effect(rem(2), rem(10) rem(10), $color-primary, .4s);
  }
}