.sidemenu {
  $element: &;

  display: none;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: z-index('sidemenu');
  @include size(100vw, 100vh);

  @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
    visibility: hidden;
  }

  &__inner {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    @include flex-column;
    justify-content: space-between;
    @include size(100%, 100%);
    padding: 0 $container-horizontal-padding;
    background-color: rgba($color-black, .98);
    @include flex-center;
  }

  &__navigation {
    @include flex-column;
    width: 100%;
  }

  &__navigation-item {
    opacity: 0;
  }

  &--open {
    #{$element}__navigation-item:nth-child(1) {
      animation: navigation-item-show .5s ease .2s forwards;
    }

    #{$element}__navigation-item:nth-child(2) {
      animation: navigation-item-show .5s ease .25s forwards;
    }

    #{$element}__navigation-item:nth-child(3) {
      animation: navigation-item-show .5s ease .3s forwards;
    }

    #{$element}__navigation-item:nth-child(4) {
      animation: navigation-item-show .5s ease .35s forwards;
    }

    #{$element}__navigation-item:nth-child(5) {
      animation: navigation-item-show .5s ease .4s forwards;
    }
  }

  &__navigation-link {
    display: block;
    padding: rem(16) 0;
    color: $color-white;
    font-weight: $medium;
    font-size: rem(22);
    text-transform: uppercase;
    text-align: center;
    transition: color $transition;

    @include hover {
      color: $color-primary;
    }
  }
}

@keyframes navigation-item-show {
  0% {
    transform: translateY(rem(60));
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}