<section class="demo section" id="buttons">
  <div class="container">
    <h3 class="demo__title load-hidden">Кнопки</h3>
    <div class="demo__list">
      <div class="demo__list-item load-hidden">
        <h4 class="demo__item-title">Default</h4>
        <p class="demo__item-subtitle">.button</p>
        <button class="button">Кнопка</button>
      </div>
      <div class="demo__list-item load-hidden">
        <h4 class="demo__item-title">Outline</h4>
        <p class="demo__item-subtitle">.button .button--outline</p>
        <button class="button button--outline">Кнопка</button>
      </div>
      <div class="demo__list-item load-hidden">
        <h4 class="demo__item-title">Disabled</h4>
        <p class="demo__item-subtitle">.button .button--disabled</p>
        <button class="button button--disabled">Кнопка</button>
      </div>
      <div class="demo__list-item load-hidden">
        <h4 class="demo__item-title">With blink effect</h4>
        <p class="demo__item-subtitle">.button .blink-effect</p>
        <button class="button blink-effect">Кнопка</button>
      </div>
      <div class="demo__list-item load-hidden">
        <h4 class="demo__item-title">With flow effect</h4>
        <p class="demo__item-subtitle">.button .flow-effect</p>
        <button class="button flow-effect"><span>Кнопка</span></button>
      </div>
      <div class="demo__list-item load-hidden">
        <h4 class="demo__item-title">Link</h4>
        <p class="demo__item-subtitle">.button .button--link</p>
        <a class="button button--link" href="#">Кнопка</a>
      </div>
    </div>
  </div>
</section>