<section class="section demo" id="forms">
  <div class="demo__container container">
    <h3 class="demo__title">Forms</h3>
    <form class="demo__form form" method="post">
      <div class="form__row form__row--4">
        <div class="form__column">
          <input class="form__input make-cursor-active" id="form-first-name" type="text" required>
          <label class="form__label-above" form="form-first-name">First Name</label>
        </div>
        <div class="form__column">
          <input class="form__input make-cursor-active" id="form-last-name" type="text" required>
          <label class="form__label-above" form="form-last-name">Last Name</label>
        </div>
        <div class="form__column">
          <input class="form__input make-cursor-active input-mask-tel" id="form-tel" type="tel"
            placeholder="Phone number" required>
        </div>
        <div class="form__column">
          <input class="form__input make-cursor-active" id="form-email" type="email" required>
          <label class="form__label-above" form="form-email">E-mail</label>
        </div>
      </div>
      <div class="form__row">
        <textarea class="form__textarea make-cursor-active" id="form-text" placeholder="Your message"></textarea>
      </div>
      <div class="form__row form__row--4">
        <input class="form__button make-cursor-active" type="submit" value="Send message">
      </div>
    </form>
  </div>
</section>