<header class="header">
  <div class="header__container container">
    <div class="header__navigation navigation">
      <ul class="navigation__list">
        <li class="navigation__list-item">
          <a class="navigation__item-link" href="#buttons">Buttons</a>
        </li>
        <li class="navigation__list-item">
          <a class="navigation__item-link" href="#forms">Forms</a>
        </li>
        <li class="navigation__list-item">
          <a class="navigation__item-link" href="#table">Table</a>
        </li>
        <li class="navigation__list-item">
          <a class="navigation__item-link" href="#slider">Slider</a>
        </li>
        <li class="navigation__list-item">
          <a class="navigation__item-link" href="#modal">Modal</a>
        </li>
      </ul>
    </div>
  </div>
</header>