<header class="header">
  <div class="header__container container">
    <div class="logo">
      <a class="logo__link" href="index.html">
        <img class="logo__image" src="public/images/logo.svg" width="200" height="34" title="{{title}}" alt="{{title}}">
      </a>
    </div>
    
    <nav class="navigation">
      <ul class="navigation__list">
        <li class="navigation__item load-hidden">
          <a class="navigation__link" href="#advantages">Преимущества</a>
        </li>
        <li class="navigation__item load-hidden">
          <a class="navigation__link" href="#buttons">Кнопки</a>
        </li>
        <li class="navigation__item load-hidden">
          <a class="navigation__link" href="#forms">Формы</a>
        </li>
        <li class="navigation__item load-hidden">
          <a class="navigation__link" href="#table">Таблицы</a>
        </li>
        <li class="navigation__item load-hidden">
          <a class="navigation__link" href="#slider">Слайдер</a>
        </li>
        <li class="navigation__item load-hidden">
          <a class="navigation__link" href="#modal">Модальные окна</a>
        </li>
      </ul>
    </nav>

    <button class="menu-toggle" id="menu-toggle" aria-label="Открыть меню" aria-expanded="false">
      <svg class="menu-toggle__inner" viewBox="0 0 12 10">
        <path class="menu-toggle__line menu-toggle__line--01" d="M10,2 L2,2"></path>
        <path class="menu-toggle__line menu-toggle__line--02" d="M2,5 L10,5"></path>
        <path class="menu-toggle__line menu-toggle__line--03" d="M10,8 L2,8"></path>
      </svg>
    </button>
  </div>
</header>