<section class="hero section particles-js">
  <h1 class="hero__title load-hidden">
    <span>Vite⚡</span>Starter
  </h1>

  <p class="hero__text load-hidden">
    Простой и эффективный ⚡ стартовый шаблон для HTML5 проектов. Из коробки включены все настройки для комфортной верстки
    сайта. Проект использует Vite.JS / HTML5 / CSS3 / JavaScript.
  </p>

  <div class="hero__author load-hidden">
    <div class="hero__author-row">
      <a class="hero__link tooltip" href="https://github.com/mrnko/mrnko-starter/blob/main/CHANGELOG.md"
        title="Посмотреть историю обновлений" target="_blank">Версия 0.5.0</a> | Последнее изменение: 01.07.2024
    </div>
    <div class="hero__author-row">
      Автор: <a class="hero__link tooltip" href="https://mrnko.com" target="_blank"
        title="Перейти по адресу https://mrnko.com">Алексей Мироненко</a>
    </div>
  </div>

  <ul class="social">
    <li class="social__item social__item--website load-hidden">
      <a class="social__link tooltip" href="https://mrnko.com" target="_blank" title="Мой официальный сайт"
        aria-label="Мой официальный сайт">
        <i class="social__icon fa-solid fa-home"></i>
      </a>
    </li>
    <li class="social__item social__item--facebook load-hidden">
      <a class="social__link tooltip" href="https://facebook.com/oleksiimrnko" target="_blank"
        title="Мой страница в Facebook" aria-label="Наша страница в Facebook">
        <i class="social__icon fa-brands fa-facebook"></i>
      </a>
    </li>
    <li class="social__item social__item--twitter load-hidden">
      <a class="social__link tooltip" href="https://twitter.com/" target="_blank" title="Наша страница в Twitter"
        aria-label="Наша страница в Twitter">
        <i class="social__icon fa-brands fa-twitter"></i>
      </a>
    </li>
    <li class="social__item social__item--instagram load-hidden">
      <a class="social__link tooltip" href="https://instagram.com/oleksiimrnko" target="_blank"
        title="Наша страница в Instagram" aria-label="Наша страница в Instagram">
        <i class="social__icon fa-brands fa-instagram"></i>
      </a>
    </li>
    <li class="social__item social__item--youtube load-hidden">
      <a class="social__link tooltip" href="https://youtube.com/@omrnko" target="_blank" title="Наш канал на YouTube"
        aria-label="Наш канал на YouTube">
        <i class="social__icon fa-brands fa-youtube"></i>
      </a>
    </li>
    <li class="social__item social__item--github load-hidden">
      <a class="social__link tooltip" href="https://github.com/mrnko" target="_blank" title="Мой профиль на GitHub"
        aria-label="Мой профиль на GitHub">
        <i class="social__icon fa-brands fa-github"></i>
      </a>
    </li>
  </ul>
</section>