<section class="section hero">
  <a class="hero__stop-war-in-ukraine"
    href="https://bank.gov.ua/en/news/all/natsionalniy-bank-vidkriv-spetsrahunok-dlya-zboru-koshtiv-na-potrebi-armiyi"
    target="_blank">
    <img class="hero__stop-war-in-ukraine-image tooltip" src="images/stop-war-in-ukraine.png"
      title="Do something to stop this war! The Russians are killing our children and civilians! | Сделайте что-нибудь, чтобы остановить эту войну! Русские убивают наших детей и мирных жителей!">
  </a>
  <h1 class="hero__title">Mrnko Starter</h1>
  <h2 class="hero__subtitle">
    By <a class="hero__link tooltip" href="https://mrnko.com" target="_blank" title="Visit mrnko.com">Oleksii
      Myronenko</a>
  </h2>
  <p class="hero__info">
    <a class="hero__info-link tooltip" href="https://github.com/mrnko/mrnko-starter/blob/main/CHANGELOG.md" title="View Changelog" target="_blank">Version
      0.3.0</a>
    | Last Update: 16.03.2024
  </p>
  <div class="hero__social-list">
    <a class="hero__social-list-item hero__social-list-item--website tooltip" href="https://mrnko.com" target="_blank"
      title="My official website">
      <i class="hero__social-list-item-icon fa-solid fa-house"></i>
    </a>
    <a class="hero__social-list-item hero__social-list-item--twitter tooltip" href="https://twitter.com/oleksiimrnko"
      target="_blank" title="I am on Twitter">
      <i class="hero__social-list-item-icon fa-brands fa-twitter"></i>
    </a>
    <a class="hero__social-list-item hero__social-list-item--facebook tooltip" href="https://fb.me/oleksiimrnko" target="_blank"
      title="I am on Facebook">
      <i class="hero__social-list-item-icon fa-brands fa-facebook"></i>
    </a>
    <a class="hero__social-list-item hero__social-list-item--instagram tooltip" href="https://instagram.com/oleksiimrnko"
      target="_blank" title="I am on Instagram">
      <i class="hero__social-list-item-icon fa-brands fa-instagram"></i>
    </a>
    <a class="hero__social-list-item hero__social-list-item--youtube tooltip" href="https://www.youtube.com/channel/UCGge5LfAaWYfIQw5J2M9C9Q"
    target="_blank" title="My YouTube Channel">
    <i class="hero__social-list-item-icon fa-brands fa-youtube"></i>
  </a>
    <a class="hero__social-list-item hero__social-list-item--github tooltip" href="https://github.com/mrnko"
      target="_blank" title="I am on GitHub">
      <i class="hero__social-list-item-icon fa-brands fa-github"></i>
    </a>
  </div>
  <a href="https://bank.gov.ua/en/news/all/natsionalniy-bank-vidkriv-spetsrahunok-dlya-zboru-koshtiv-na-potrebi-armiyi"
    target="_blank" data-parallax="0.8">
    <img class="hero__stand-with-ukraine tooltip" src="images/stand-with-ukraine.png"
      title="Do something to stop this war! The Russians are killing our children and civilians! | Сделайте что-нибудь, чтобы остановить эту войну! Русские убивают наших детей и мирных жителей!">
  </a>
</section>