<div class="sidemenu" id="sidemenu">
  <div class="sidemenu__inner">
    <ul class="sidemenu__navigation">
      <li class="sidemenu__navigation-item">
        <a class="sidemenu__navigation-link" href="#buttons">Buttons</a>
      </li>
      <li class="sidemenu__navigation-item">
        <a class="sidemenu__navigation-link" href="#forms">Forms</a>
      </li>
      <li class="sidemenu__navigation-item">
        <a class="sidemenu__navigation-link" href="#table">Table</a>
      </li>
      <li class="sidemenu__navigation-item">
        <a class="sidemenu__navigation-link" href="#slider">Slider</a>
      </li>
      <li class="sidemenu__navigation-item">
        <a class="sidemenu__navigation-link" href="#modal">Modal</a>
      </li>
    </ul>
  </div>
</div>