<div class="sidemenu">
  <input class="sidemenu__checkbox" id="sidemenu-toggle" type="checkbox">
  <label class="sidemenu__toggle" for="sidemenu-toggle">
    <span></span>
  </label>

  <div class="sidemenu__container">
    <ul class="sidemenu__navigation">
      <li class="sidemenu__navigation-item">
        <a class="sidemenu__navigation-item-link" href="#buttons">Buttons</a>
      </li>
      <li class="sidemenu__navigation-item">
        <a class="sidemenu__navigation-item-link" href="#forms">Forms</a>
      </li>
      <li class="sidemenu__navigation-item">
        <a class="sidemenu__navigation-item-link" href="#table">Table</a>
      </li>
      <li class="sidemenu__navigation-item">
        <a class="sidemenu__navigation-item-link" href="#slider">Slider</a>
      </li>
      <li class="sidemenu__navigation-item">
        <a class="sidemenu__navigation-item-link" href="#modal">Modal</a>
      </li>
    </ul>
  </div>
</div>