<section class="section demo" id="slider">
  <div class="demo__container container">
    <h3 class="demo__title">Slider</h3>
    <div class="demo__swiper swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          1
        </div>
        <div class="swiper-slide">
          2
        </div>
        <div class="swiper-slide">
          3
        </div>
        <div class="swiper-slide">
          4
        </div>
        <div class="swiper-slide">
          5
        </div>
        <div class="swiper-slide">
          6
        </div>
      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button swiper-button-prev make-cursor-active"></div>
      <div class="swiper-button swiper-button-next make-cursor-active"></div>
    </div>
  </div>
</section>